{{- range .Values.app.versions }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-service-{{ .name }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-service
      version: {{ .name }}
  template:
    metadata:       
      labels:
        app: app-service
        version: {{ .name }}
      annotations:   # <---  â† add here
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"   # optional if not "/metrics"
        prometheus.io/port: "8080"       # optional if port 80/metrics
    spec:
      containers:
      - name: app
        image: {{ .image }}
        ports:
        - containerPort: 8080
        env:
        - name: BackendUrl
          value: http://model-service:8080
---
{{- end }}

